cython==0.29.22
git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI&egg=pycocotools
matplotlib==3.3.4
numpy==1.19.2
networkx==2.5.1
git+https://github.com/cocodataset/panopticapi.git#egg=panopticapi
opencv-python==4.5.1.48
scipy==1.6.1
tk==8.6.10
torch==1.7.0
torchvision==0.8.2
